{% assign devices = include.data["devices"] | sort: "name" %}
{% assign regions = include.data["regions"] %}

<div class="scrollable-table-container">
    <table class="table-memory-regions">
        <thead>
            <tr>
                <th>Device</th>
                {% for region in regions %}
                <th>{{ region }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device["name"] }}</td>
                {% for region in regions %}
                {% assign memory = device["memory"][region] %}
                {% if memory %}
                <td>{% if memory["size"] %}{{ memory["size"] }} @ {% endif %}<code>{{ memory["origin"] }}</code></td>
                {% else %}
                <td>N/A</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
