.board-header h1 {
    margin: 0;
}

.board-header p {
    font-weight: bold;
    margin: 0;
}

.board-header hr {
    margin: 1.5rem 0 0 0;
}

.board-content {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $screen-width-threshold) {
        display: block;
    }
}

.board-content-column {
    flex: 1;
    width: 32rem;

    @media screen and (max-width: $screen-width-threshold) {
        flex: none;
        width: 100%;
    }
}

.board-item {
    margin: 1rem .5rem;
}

.board-item-header {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.board-item-header h2 {
    margin: 0;
}

.board-item-icon {
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    margin: .5rem;
    font-size: 1.25rem;
}

.board-item-content figure {
    margin-left: 0;
    margin-right: 0;
}

.props-table td:first-child {
    font-weight: bold;
    width: 33%;
}

.pins-table td, .pins-table th {
    width: 30%;
}

.pins-table td:first-child, .pins-table th:first-child {
    width: 10%;
}

.icon-list {
    list-style: none;
    padding: 0;
}

.icon-list-icon {
    display: inline-block;
    text-align: center;
    width: 2.5rem;
}

.with-column-dividers .board-content-column {
    border-left: solid 1px $color-page-border;
}

.with-column-dividers .board-content-column:first-child {
    border-left: none;
}

.board-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1.5rem 0;
}

.board-list-item {
    width: 33%;
    padding: .25rem .25rem 1rem .25rem;
    box-sizing: border-box;

    @media screen and (max-width: $screen-width-threshold) {
        width: 50%;
    }

    @media screen and (max-width: 30rem) {
        width: 100%;
    }
}

.board-list-item a {
    color: $color-text-primary;
    display: block;
}

.board-list-item a:hover, .board-list-item a:active {
    color: $color-text-anchor;
}

.board-list-item hr {
    margin: .25rem 0;
}

.board-list-name {
    font-size: 1.125rem;
    margin: 0;
    padding: 0 .25rem;
}

.board-list-microcontroller {
    font-size: .75rem;
    margin: 0;
    padding: 0 .25rem;
}
