@import "colors";

.cheatsheet-table-container {
    header, section {
        float: none;
        position: inherit;
        width: 100%;
    }
}

.scrollable-table {
    display: block;
    margin: 0 0 1.5rem 0;
    overflow-x: auto;

    table {
        margin: 0;
        width: auto;
    }

    tr:hover > td {
        background-color: #e0e0e0;
    }
}

.memory-regions-table {
    td {
        text-align: right;
        min-width: 12rem;
    }

    td:first-child {
        text-align: left;
        min-width: 8rem;
    }
}
