body {
    background-color: $color-page-background;
    line-height: 1.5;
}

a {
    border: none;
    color: $color-text-anchor;
    text-decoration: none;

    &:active { color: $color-text-anchor-active; }
    &:hover  { color: $color-text-anchor-hover; }
    &:focus  { color: $color-text-anchor-focus; }
}

abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
}

b, strong, samp {
    color: $color-text-bold;
    font-weight: bold;
}

code, pre {
    color: $color-text-code;
    font-family: "Monaco", "Lucida Console", "Consolas", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
    font-size: $font-size-S;
}

i, em, cite, dfn[id], q, var {
    font-style: italic;
}

kbd {
    background-color: $color-page-frame;
    border: $border-style-default;
    border-radius: $border-radius-default;
}

mark {
    background-color: $color-text-highlight;
}

s, del {
    text-decoration: line-through;
}

sub, sup {
    font-size: $font-size-S;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

u {
    text-decoration: underline;
}

small {
    font-size: $font-size-XS;
}

p, ul, ol, table, pre, dl, blockquote, hr, h1, h2, h3, h4, h5, h6 {
    padding: 0 1rem;

    @media screen and (max-width: 720px) {
        padding: 0 .5rem;
    }
}

p, ul, ol, table, pre, dl, blockquote, hr {
    margin: 0 0 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0 0 .75rem 0;
}

h1 {
    color: $color-text-h1;
    font-size: $font-size-XXL;
}

h2 {
    color: $color-text-h2;
    font-size: $font-size-XL;
}

h3 {
    color: $color-text-h3;
    font-size: $font-size-L;
}

h4 {
    color: $color-text-h4;
    font-size: $font-size-M;
}

h5 {
    color: $color-text-h5;
    font-size: $font-size-M;
    font-style: italic;
}

h6 {
    color: $color-text-h6;
    font-size: $font-size-S;
    font-style: italic;
}

blockquote {
    border-left: $border-style-default;
    font-style: italic;
    padding: 0 0 0 1rem;
    quotes: none;
}

pre {
    background-color: $color-page-frame;
    border: $border-style-default;
    border-radius: $border-radius-default;
    overflow-x: auto;
    padding: .5rem 1rem;
}

ol, ul {
    padding: 0 0 0 2.5rem;
}

li {
    padding: 0 0 .125rem 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td, th {
    border-bottom: $border-style-default;
    padding: .25rem .5rem;
    text-align: left;
}

dt, th {
    color: $color-text-secondary;
    font-weight: bold;
}

dd {
    padding: 0 0 0 1rem;
    margin: 0 0 .5rem 0;
}

img {
    max-width: 100%;
}

hr {
    border: 0;
    background-color: $color-page-border;
    height: .0625rem;
}
